1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [ ]:
#kerjakan soal no.1 pada sel berikut ini
#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

data_list = ['bandung', 'jakarta', 'semarang', 'palembang']
for a in data_list:
  print(a)

bandung
jakarta
semarang
palembang

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik (int & float) dari list pada sel di bawah

In [4]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True, "20"] 
for i in data_list_2:
  if type(i) == float or type(i) == int :
    continue
  print('{}'.format(i))

makassar
True
20

3. Buat sebuah kode if else yang dapat menyatakan apakah suatu bilangan ganjil atau genap.

In [ ]:
#kerjakan soal no.3 disini

number = 9

#hint

if number % 2 == 0 :
    print("genap")
else:
    print("ganjil")

#hasil yang diharapkan
#ganjil

ganjil

4. Kalikan semua anggota list_1 terhadap anggota ganjil pada list_2. tampilkan hasilnya

In [ ]:
#kerjakan soal no.4 pada sel berikut ini
list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]


#hasil yang diharapkan
'''
3
9
6
18
9
27
12
36
15
45
'''

In [ ]:
list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]

for i in list_1:
  for j in list_2:
    if j % 2 != 0:
      print(i * j)

3
9
6
18
9
27
12
36
15
45

5. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [ ]:
#kerjakan soal no.5 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']
for x in data_list_3:
  if x.isalpha():
    print('{} tidak memiliki angka'.format(x))
  else:
    print('{} memiliki angka'.format(x))

asda8asd memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC memiliki angka

6. Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [ ]:
#kerjakan soal no.6 pada sel berikut ini

data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

#hasil yang diharapkan
#[Budi, Rudi, Leo]
hasil = []
for i in data_siswa:
  if i['nilai'] >= 80 :
    print(i['nama'])

Budi
Rudi
Leo